<h1>Bot Status</h1>
<table id="status"></table>

<button class="btn-base btn-green" onClick=refresh()>Refresh</button>

<h1>Bot Control Panel</h1>

<div id="btn-container">

<%= form_with url: control_path(token: params[:token]), method: :post, local: false do |f| %>
  <%= f.hidden_field :command, value: 'start' %>
  <%= f.submit 'Start Bot', class: 'button btn-base btn-green' %>
<% end %>

<%= form_with url: control_path(token: params[:token]), method: :post, local: false do |f| %>
  <%= f.hidden_field :command, value: 'stop' %>
  <%= f.submit 'Stop Bot', class: 'button btn-base btn-red' %>
<% end %>

<%= form_with url: control_path(token: params[:token]), method: :post, local: false do |f| %>
  <%= f.hidden_field :command, value: 'update' %>
  <%= f.submit 'Update Bot', class: 'button btn-base btn-yellow' %>
<% end %>

</div>

<h1>Logs</h1>

<details open>
  <summary>Bot logs</summary>
  <div class="scrollable-box">
    <pre id="logs">Loading...</pre>
  </div>
</details>

<details>
  <summary>Dashboard logs</summary>
  <div class="scrollable-box">
    <pre id="dashboard_logs">Loading...</pre>
  </div>
</details>

<script>
  function fillStatus(status) {
    const table = document.getElementById("status");
    table.innerHTML = "";
    const header = table.createTHead();
    const headerRow = header.insertRow();
    const body = table.createTBody();
    const row = body.insertRow();
    for (const [key, value] of Object.entries(status)) {
      headerRow.insertCell().textContent = key;
      row.insertCell().textContent = value;
    }
  }
  function fetchStatus() {
    fetch('/status?token=<%=params[:token]%>')
      .then(response => response.json())
      .then(fillStatus);
  }
  fetchStatus();
  setInterval(fetchStatus, 5000);

  function fetchLogs() {
    fetch('/logs?token=<%=params[:token]%>')
      .then(response => response.json())
      .then(logs => {
        document.getElementById("logs").innerText = logs.logs;
        document.getElementById("dashboard_logs").innerText = logs.dashboard_logs;
      });
  }
  fetchLogs();
  setInterval(fetchLogs, 5000);

  function refresh() {
    fetchStatus();
    fetchLogs();
  }
</script>
