<h1>Bot Control Panel</h1>

<div class="scrollable-box">
  <table id="status">
    <thead>
      <tr id="status-header">
        <td>start</td>
        <td>stop</td>
        <td>update</td>
        <td>name</td>
      </tr>
    </thead>
    <tbody id="status-body">
      <% @bots.each do |bot_name| %>
        <tr data-bot="<%= bot_name %>">
          <td class="centered-cell">
            <%= form_with url: control_path(token: params[:token]), method: :post, local: false do |f| %>
              <%= f.hidden_field :bot_name, value: bot_name %>
              <%= f.hidden_field :command, value: 'start' %>
              <button type="submit" class="btn-base btn-green">
                <%= inline_svg("icons/start.svg", class: "w-6 h-6") %>
              </button>
            <% end %>
          </td>

          <td class="centered-cell">
            <%= form_with url: control_path(token: params[:token]), method: :post, local: false do |f| %>
              <%= f.hidden_field :bot_name, value: bot_name %>
              <%= f.hidden_field :command, value: 'stop' %>
              <button type="submit" class="btn-base btn-red">
                <%= inline_svg("icons/stop.svg", class: "w-6 h-6") %>
              </button>
            <% end %>
          </td>

          <td class="centered-cell">
            <%= form_with url: control_path(token: params[:token]), method: :post, local: false do |f| %>
              <%= f.hidden_field :bot_name, value: bot_name %>
              <%= f.hidden_field :command, value: 'update' %>
              <button type="submit" class="btn-base btn-yellow">
                <%= inline_svg("icons/update.svg", class: "w-6 h-6") %>
              </button>
            <% end %>
          </td>

          <td><%= bot_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<button class="btn-base btn-green" onClick=refresh()>
  <%= inline_svg("icons/refresh.svg", class: "w-6 h-6") %>
</button>

<h1>Logs</h1>

<% @bots.each do |bot_name| %>
  <details>
    <summary><%= bot_name %> logs</summary>
    <div class="scrollable-box">
      <pre id="logs" data-bot="<%= bot_name %>">Loading...</pre>
    </div>
  </details>
<% end %>

<details>
  <summary>Dashboard logs</summary>
  <div class="scrollable-box">
    <pre id="dashboard_logs">Loading...</pre>
  </div>
</details>

<%= javascript_include_tag 'dashboard' %>

